<a class="navbar__shoppingCart getstarted scrollto active" href="@Url.Action("GioHang",
"GioHang")" style="font-weight:bold; text-decoration:none">
    <img src="~/Content/images/shopping-cart.svg" style="width: 24px;" alt="">

    <span>@ViewBag.Tongsoluongsanpham</span>
</a>
